/dts-v1/;
#include "stm32f4.dtsi"

/ {
	model = "STM32F429 Discovery";
	compatible = "stm32,discovery";

	chosen {
		bootargs = "console=ttystm0,115200 root=initrd";
	};

	memory {
		reg = <0xD0000000 0x00800000>;
	};
	
	cpus {
		cpu0: cpu@0{
			hse-frequency = <8000000>;
		};
	};
	
	soc {
		uart0: uart@40011000 {
			status = "ok";
		};
	};
};