#include "armv7-m.dtsi"
#include "stm32-pinfunc.h"

/ {
	aliases {
		serial0 = &uart0;
		gpioa = &gpio0;
	};

	cpus {
		#size-cells = <0>;
		#address-cells = <1>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-m4";
			reg = <0x0>;
		};
	};

	soc {
		pinctrl: pinctrl@40020000 { /* GPIOA-K */
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "stm32,stm32-pinctrl";
			ranges = <0x40020000 0x40020000 0x2C00>; /* 0x400*0xB */
			
			gpio0 {
				pinctrl_gpio0: gpio-0 {
					stm32,pins =
						<GPIO_PORT_A GPIO_PIN_14 GPIO_ALT_SYSTEM PIO_PULL_UP
						 GPIO_PORT_A GPIO_PIN_15 GPIO_ALT_SYSTEM PIO_PULL_UP>;
				};
			};
		};
		
		uart0: uart@40011000 { /* USART0 */
			compatible = "stm32,stm32-usart";
			reg = <0x40011000 0x400>;
			interrupts = <37>;
			status = "disabled";
		};
		
		timer2: timer@40000000 {
			compatible = "stm32,timer";
			reg = <0x40000000 0x400>;
			interrupts = <28>;
			#clock-cells = <1>;
			clocks = <&clks 4>;
		};
		
		clks: rcc@40023800 {
			compatible = "stm32,rcc";
			reg = <0x40023800 0x400>;
			interrupts = <5>;
			#clock-cells = <1>;
		};
		
		ahb1@40020000 { /* AHB1 bus 168MHz */
			compatible = "simple-bus";
			reg = <0x40020000 0x60000>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges;
			
			/* peryferia */
			gpio0: gpio@40020000 {
				compatible = "stm32,gpio";
				reg = <0x40020000 0x400>;
			/*	interrupts = <0 6 IRQ_TYPE_LEVEL_HIGH>;
				gpio-controller;
				#gpio-cells = <2>;
				#interrupt-cells = <2>;
			*/
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_gpio0>;
			
			};
		};
		
		ahb2@50000000 { /* AHB2 bus 168MHz */
			compatible = "simple-bus";
			reg = <0x50000000 0x60c00>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges;
			
			/* peryferia */
		
		};
		
		ahb3@60000000 { /* AHB3 bus 168MHz */
			compatible = "simple-bus";
			reg = <0x60000000 0x80000000>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges;
			
			/* peryferia */
		
		};

		apb1@40000000 { /* APB1 bus 42MHz */
			compatible = "simple-bus";
			reg = <0x40000000 0x8000>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges;
			
			/* peryferia */
		
		};
		
		apb2@40010000 { /* APB2 bus 84MHz */
			compatible = "simple-bus";
			reg = <0x40010000 0x6c00>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges;
			
			/* peryferia */
		
		};
	};
};
